*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center ;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
.main{
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 80vh;
    display: flex;
    /* background-color: red; */
}

.frist-part{
    background-color: #01d28e;
    height: inherit;
    width: 40%;
}
.frist-part h3{
    font-size: 28px;
    color: white;
    font-weight: 500;
    padding-left: 40px;
}
.fp{
    color: #FFFFFFCC;
    padding-left: 40px;
    padding-top: 10px;
}

.location{
    /* background-color: red; */
    height: 80px;
    width: 299px;
    margin-left: 40px;
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.circle{
    height:55px;
    width:55px;
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.2);
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    border-radius: 100%;
}
.frist-part-text{
    width: 100%;
    /* margin-left: 15px; */
    font-size: 16px;
    height: inherit;
    color: white;
    /* background-color: black; */
}
.frist-part-text p{
    font-size: 16px;
    padding-left: 20px;
    color: #FFFFFF;
    font-weight: 300;
}
.circle i{
    font-size: 20px;
    color: white;
}
.outer{
    width: 70px;
    height: 80px;
    /* background-color: chartreuse; */
}
.outer-2{
    /* background-color: yellow; */
    height: inherit;
    width: inherit;
}
.phone p{
    padding-top: 10px;


}

.second-part{
    /* background-color: red; */
   
    width: 600px;
}
.second-part h3{
    font-size: 28px;
    font-weight: 500;
    /* padding-top: 10px; */
    padding-left: 40px;
}

.in{
    width: 500px;
    height: 60px;
    /* background-color: red; */
    display: flex;
    margin-left: 40px;
}
.name{
    width: 50%;
    height: inherit;
    /* background-color: aqua; */
}
.email{
    width: 50%;
    height: inherit;
    /* background-color: yellow; */
    
}
.name label{
    font-size: 12px;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
}
.name input{
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    width: 90%;
}


.email label{
    font-size: 12px;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
}
.email input{
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    width: 90%;
}

.subject{
    width: 500px;
    margin-left: 40px;
    /* background-color: red; */
    height: 60px;
    margin-top: 20px;
}
.subject label{
    font-size: 12px;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
}
.subject input{
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    width: 95%; 
}


.message{
    width: 500px;
    margin-left: 40px;
    /* background-color: red; */
    height: 60px;
    margin-top: 20px;
}
.message label{
    font-size: 12px;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
}
.message textarea{
    margin-top: 20px;
    height: 80px;
    /* background-color: transparent; */
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* padding-bottom: 5px; */
    width: 95%; 
}
.message textarea::placeholder{
    font-size: 16px;
    font-family: "Poppins", sans-serif;

}

.submit-btn{
    margin-top: 100px;
    margin-left: 40px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    background-color: #00d58d;
    color: white;

}
.submit-btn:hover{
    background-color: #00d579;
    transition-duration: 0.5s;
}
.error-p{
    color: red;
    font-size: 12px;
}