@tailwind base;
@tailwind components;
@tailwind utilities;


.search-icon{
    border: 1px solid rgb(232, 232, 232);
    border-right: 0;
}
.input-filed{
    border: 1px solid rgb(232, 232, 232);
    border-left: 0;
}