*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.main{
  height: 850px;
  display: flex;
  width: 100%;
  background-color: aqua;
}
.main1{
  width: 50%;
  background-color: yellow;
  background-attachment: fixed;
  background-image: url(/3.jpg);
  background-size: cover;
  /* background-position: 00px -10px; */
  background-repeat: no-repeat;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main2{
  width: 50%;
  display: flex;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  background-image: url(/4.jpg);
  background-size: cover;
  /* background-position: 00px -10px; */
  background-repeat: no-repeat;
  background-color: green;
  height: inherit;
}
.main1 a ,.main2 a{
  color: white;
  font-size: 72px;
  text-decoration: none;
}

header{
  z-index: 2000;
  width: 100%;
  height: 100px;
  /* background-color: transparent; */
  display: flex;
  /* transition-duration: 0.5s; */
  position: fixed;
  top: 0px;

}
.nav1{
  width: 40%;
  height: 100px;
  display: flex;
  align-items: center;
  /* background-color: green; */
}
.nav1 img{
  margin-left: 60px;
}
.nav2{
  /* background-color: yellow; */
  display: flex;
  width: 35%;
  height: 100px;
}
.nav2 ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.nav2 ul li{
  margin-inline: 10px;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
}
.nav2 ul li:hover{
  color: #ff7902;
  cursor: pointer;
  transition-duration: 0.5s;
}

.nav3{
  /* background-color: black; */
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.nav-circle{
  height: 40px;
  border-radius: 100%;
  margin-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border: 2px solid white;
}
.nav3 div i{
  font-size: 18px;
  color: white;
}
.nav3 div:hover i{
  color: #ff7902;
  cursor: pointer;
}
.nav3 div:hover{
  border: #ff7902 2px solid;
  transition-duration: 0.5s;
  cursor: pointer;
}

.input-main{
  height: 250px;
  width: 100%;
  background-color: #688bfe;
}
.input-main h4{
  padding-left: 200px;
  padding-top: 80px;
  font-size: 24px;
  color: white;
  font-weight: 500;
}
.input-main input{
  margin-left: 200px;
  margin-top: 20px;
  height: 50px;
  width: 50%;
  background-color: transparent;
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
 border-bottom: 2px solid white;
 outline: none;
}
.input-main input:focus{
  outline: 2px solid;
  border-bottom: 0px;
}
.input-main button{
  width: 150px;
  height: 50px;
  background-color: #ff7902;
  /* background-color: transparent; */
  color: white;
  border: 0;

  margin-left: 200px;
  
}
.input-main button:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: transparent;
  transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.input-main input::placeholder{
  color: rgb(37, 37, 37);
  font-style: italic;
  /* background-color: transparent; */
 padding-left: 48%;
}